.roundedCornersTopLR{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
.roundedCornersBottomLR{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.knopfGroesse{
    background-color: crimson;
}
.header{
    clear: left;
    font-family: "Impact";
    color:#070E1C;
    text-align: -moz-center;
    font-size: 35px;
    text-shadow: 2px 2px #FFFFFF;
    text-align: center;
}

.foundationBox{
    margin-top: 5pt;
}



#anzeige{
   visibility: hidden;
    overflow: -moz-scrollbars-vertical;
}